<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RiturnitDrive.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>13</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AFEADE4A94E0C55D87A51607F1913542D9A735B3</string>
				<key>dateExpires</key>
				<string>5/17/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFEADE4A94E0C55D87A51607F1913542D9A735B3</string>
						<key>dateExpires</key>
						<string>5/17/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GJM6V4M7XJ</string>
						<key>name</key>
						<string>Abasiono Udosen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GJM6V4M7XJ.org.reactjs.native.example.RiturnitDrive</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>GJM6V4M7XJ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RiturnitDrive.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>08e2ac0b-6569-4083-8673-d75a4dc6b84e</string>
				<key>dateExpires</key>
				<string>9/1/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.reactjs.native.example.RiturnitDrive</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GJM6V4M7XJ</string>
				<key>name</key>
				<string>Abasiono Udosen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
