<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066373720177-gtb6o9ttehmleb47p515g1697mkccgcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066373720177-gtb6o9ttehmleb47p515g1697mkccgcg</string>
	<key>API_KEY</key>
	<string>AIzaSyDsAvoiCtqJ8j-wOYqW4UVyaPoKwW_HgzI</string>
	<key>GCM_SENDER_ID</key>
	<string>1066373720177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RiturnitRider</string>
	<key>PROJECT_ID</key>
	<string>riturnit-332015</string>
	<key>STORAGE_BUCKET</key>
	<string>riturnit-332015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066373720177:ios:b5cc12dfb0c12ef2f3d3d0</string>
</dict>
</plist>